<html>
	<head>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag 'jquery', 'application' %>
	</head>
	
	<body>		
		<div class="container">		
			<div id="title">
				<h1 id="iabin">&nbsp;</h1>
			</div>
			
			<div id="content">			
				<div class="span-16">
					<h2>Are our species observations found within a protected area?</h2>
						<p class="explanation">
							The purpose of this page is to demonstrate the protectedplanet.net API for the IABIN technology meeting in Knoxville, August 2010.  In this example we combine protected areas information with species observation data.    <br><br>One of the most common questions we are asked is ‘Is this species found within a protected area?’.  We will explain how this is possible with the new API.<br><br>	  
						</p>	
					
					<%= image_tag "bracket.png", :class => "bracket" %>
					
					
					<h3>Sample GBIF species data for South America <%= link_to "edit", "http://spreadsheets0.google.com/ccc?key=tf6ot7TyP5Kk40zm9JQ7BVg&hl=en#gid=0"%></h3>
						 <iframe width='630' height='250' frameborder='0' src='http://spreadsheets.google.com/pub?key=0Aj9ghrEmlkpbdGY2b3Q3VHlQNUtrNDB6bTlKUTdCVmc&hl=en&single=true&gid=0&output=html&widget=true'></iframe>	
						<p class="explanation">
							The data used in this demonstration comes from the GBIF data portal. We extracted a very small sample of species in the IABIN region, and <b> <%= link_to "is editable here", "http://spreadsheets0.google.com/ccc?key=tf6ot7TyP5Kk40zm9JQ7BVg&hl=en#gid=0"%></b>. Feel free to alter the data with other species information.  In the future we would hope to extract these type of information from a similar API from other IABIN TNs or GBIF.  Future implementations could also assess many multiples of species.<br><br>
							Once our species locations are entered into Google Spreadsheets, we can <b>automate the process of checking protected area status with the protectedplanet.net API.</b>  See the bottom of the webpage for a simple explanation of the API.
						</p>	
					
					<%= image_tag "bracket.png", :class => "bracket" %>
					
				<h3>Combine species data with the protectedplanet.net API</h3>
				<%= @map.to_html %>
			  <div style="width: 630px; height: 400px;">
			    <%= @map.div %>
			  </div>
			
				<table style="width:630px;" class="protection">
					<thead>
						<tr>
							<th>species</th>
							<th>records</th>
							<th>protection status</th>
							<th>Important Protected Areas</th>						
						</tr>
					</thead>
					<tbody>						
						<% @species.each do |species|%>
							<tr class="<%= cycle 'odd', 'even' %>">
								<td><%= species[:name] %></td>
												
								<td><%= species[:survey_points].size %></td>
								<td>
									<%= link_to image_tag('icons/world.png'), "#", :class=>"show_pas"%> 
									<% pp = species[:protected_survey_point_count] %>
									<%= pp %> /
										<span style="color:red;">
											<%= species[:survey_points].size - pp %>
										</span> 
									(<%= number_with_precision((pp.to_f / species[:survey_points].size) * 100, :precision => 1) %>%)
							
									<div class="pa_list" style="display:none;position:absolute;">	
										<%= image_tag species[:map]%>
									<div>								
								</td>						
								<td>
									<%= link_to image_tag('icons/world.png'), "#", :class=>"show_pas"%>
									<%= species[:pa_links].size %> 							
									<div class="pa_list" style="display:none;position:absolute;">
										<ul>
											<% species[:pa_links].each do |pa| %>
												<li><%= link_to pa[:slug].humanize, pa[:url]%></li>
											<% end -%>	
										</ul>							
									</div>
								</td>
							</tr>								
						<% end -%>	
					</tbody>	
				</table>				
				
				<%= Gchart.bar(
				:data => @species.map{|x|[x[:protected_survey_point_count].to_f/x[:survey_points].size]}, 
				:orientation => 'horizontal', 
				:stacked => false,
				:bar_colors => @species.count.times.inject([]){|s,x| s << "%06x" % (rand * 0xffffff)},
				:size => '630x140', 
				:legend => @species.map{|x| x[:name]}, 
				:format => 'image_tag',
				:axis_with_labels => ['x'])%>


				<p class="explanation">
					<b>How could this be used to better inform conservation?</b><br><br>
					Although this is a demonstration of technology, you can see how by combining datasets from two thematic networks we create real value for conservation planning.  In this case we can see of the 4 species, Eubalaena australis and Potos flavus (Schreber, 1774) have a comparativly lower degree of protection.<br>
					 As this tool is API driven, it will <b>automatically synchronise</b> with protectedplanet.net and with changes to the Google Spreadsheet.  Creating these type of tools will demonstrate the true value of the thematics networks.					
				</p>				
								
					<%= image_tag "bracket.png", :class => "bracket" %>
					
				<h3>How we made this visualisation</h3>
				
						<div class="explanation" style="display:block;">
							The source code is available <%= link_to "on github", "http://github.com/tokumine/IABIN-demo"%>.<br><br>
							
							The flow of control is as follows:
							<ol>
								<li>Retrieve information from Google Spreadsheet</li>
								<li>Sort and clean data</li>
								<li>Call Protectedplanet.net API to determine protectedness</li>
								<li>Construct tables/graphs/maps</li>
								<li>Display!</li>	
							</ol>
							
							Below is abridged code central to this demo application.  We used ruby to create it however other languages will work equally well with the API because the calls are a simple http requests.
														
						</div>	
						
						<script src="http://gist.github.com/506062.js?file=controller.rb"></script>
						
						<br><br>
						<h3>Protectedplanet.net API details</h3>
						<div class="explanation" style="display:block;">
							<b>A basic example of the protected planet api</b><br><br>

						To make it easy to understand the API we will look at the protection status of one observation from one species.  We will need the longitude and latitude of the observation.  We can then make a call to the API. <br><br> 

							There are two types of calls you can make.  The first is very simple and returns the name and ID of the protected area.  The url to this request looks like this:<br><br>
							<%= link_to "http://protectedplanet.net/api/site_atts_by_point/83.5/35.6", "http://protectedplanet.net/api/site_atts_by_point/83.5/35.6"%>
							<br>
							[http://protectedplanet.net/api/site_atts_by_point/long/lat]<br><br>

								And you get back some JSON which looks like:<br>
								[   {
									name: "Qiangtang"
									id: 45165
									slug: "Qiangtang_Nature_Reserve"
								  }
								]
	<br><br>
							If you want more detailed information about the protected areas you can use a different call:<br><br>

							<%= link_to "http://protectedplanet.net/api/sites_by_point/83.5/35.6", "http://protectedplanet.net/api/sites_by_point/83.5/35.6"%><br>
							[http://protectedplanet.net/api/sites_by_point/long/lat]<br><br>

							This returns the geometry of the boundary in GeoJSON format along with some key pieces of information about each protected area.<br><br>						
						</div>	
						<script src="http://gist.github.com/506270.js?file=sample_protected_planet_api"></script>
						<div class="explanation" style="display:block;">
							<b>Other API requests</b><br><br>

							We are working on extending the API even further to make it even easier to interrogate the IABIN network of protected areas data.  Here are others you may like to try:<br><br>

							

							http://protectedplanet.net/api/search_suggest?q=yourtext - returns 1st 5 suggested protected area that match your search<br><br>

							http://protectedplanet.net/api/search?q=yourtext - returns fill list of search results based on your search term<br><br>

							http://protectedplanet.net/api/site/:WDPAID/json - returns protected areas details<br><br>

							POSTs: 

							
														
						</div>
				
				
				</div>
				
				
				
				<div class="span-6 last box logos" style="border-left:1em solid #eee;">
					<h3>API's used</h3>
						<%= link_to image_tag('images/1_pp.png'), "http://protectedplanet.net" %>
						<%= link_to image_tag('images/2_gbif.png'), "http://gbif.org" %>
						<%= link_to image_tag('images/3_proto.png'), "http://vis.stanford.edu/protovis/" %>
						<%= link_to image_tag('images/4_gdoc.png'), "http://docs.google.com/" %>
						<%= link_to image_tag('images/5_gmap.png'), "http://maps.google.com" %>
						<%= link_to image_tag('images/6_wcmc.png'), "http://www.unep-wcmc.org" %>
				</div>	
						


					

				<div style="clear:left;"></div>	
			</div>	
		</div>
	</body>	
</html>

